:root {
    --main-color: rgb(170, 73, 170);
    --main-backgroundColor: rgb(43, 41, 41);
    --secondary-color: rgb(90, 90, 90);
}

.allContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    
}

.backgroundWLogo {
    width: 45vw;
    height: 100vh;
    background: no-repeat center url("../signupform/skullbackground.jpg");
}a

.mainContent {
    display: flex;
    height: 100vh;
    flex-direction: column;
    width: 55vw;
}

.flavorText {
    color: var(--main-color);
    background-color: var(--main-backgroundColor);
    padding: 20px;
}

.formContent {
    display: flex;
    flex-flow: row;
    color: var(--secondary-color);
    background: rgb(67,21,185);
    background: linear-gradient(90deg, rgba(67,21,185,1) 0%, rgba(114,100,135,1) 68%, rgba(244,237,106,1) 100%, rgba(96,50,161,0.5866050808314087) 100%);
    box-shadow: 0 10px 20px -2px white;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1.2rem
}

.input {

}

button {
    color: var(--main-color);
    background-color: var(--main-backgroundColor);
    font-weight: 700;
    border: 3px dotted var(--main-color);
    font-size: 1.2rem;
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
    
}

button:hover {
    background-color: var(--secondary-color);
}