:root {
    --main-color: rgb(170, 73, 170);
    --main-backgroundColor: rgb(43, 41, 41);
    --secondary-color: rgb(209, 209, 209);
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.allContent {
    width: 100%;
    height: auto;
    display: flex;
}

.backgroundWLogo {
    width: 45vw;
    height: 100vh;
    background: no-repeat center url("../signupform/skullbackground.jpg");  
    display: flex;
    justify-content: center;
}

.mainContent {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 55vw;
}

.flavorText {
    color: var(--main-color);
    background-color: var(--main-backgroundColor);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--secondary-color);
    background: rgb(67,21,185);
    background: linear-gradient(90deg, rgba(67,21,185,1) 0%, rgba(114,100,135,1) 68%, rgba(244,237,106,1) 100%, rgba(96,50,161,0.5866050808314087) 100%);
    box-shadow: 0 10px 20px -2px white;
    padding: 20px;
}

.artistCredit {
    position: absolute;
    bottom: 5vh;
    color: var(--secondary-color)
}

.logo {
    position: absolute;
    top: 150px;
}

img {
    max-width: 100%;
    height: auto;
    box-shadow: 2px black;
    background: rgba(0, 0, 0, 0.555);
}

label {
    width: 50%;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 100%;
}

input {
    width: 60%;
    font-size: 0.7rem;
    text-transform: uppercase;
    opacity: 50%;
}

button {
    color: var(--main-color);
    background-color: var(--main-backgroundColor);
    font-weight: 700;
    border: 3px dotted var(--main-color);
    font-size: 1rem;
    border-radius: 6px;
    padding: 20px;
    margin-top: 20px;
    text-transform: uppercase;

}

button:hover {
    background-color: var(--secondary-color);
}
